* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: aliceblue;
  scroll-behavior: smooth;
}

:root {
  --fontfamily1: 'Buenard', serif;
  --fontfamily2: monospace;
  --fontfamily3: 'Poppins', sans-serif;
  --color: #9C44ED;
}

section .container .mediShow .mediContainer {
  width: 100%;
  height: 100vh;
  background: url("../image/bgImg-paella.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section .container .mediShow .mediContainer header {
  padding: 1em 2em;
  background: transparent;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  width: 100%;
}

section .container .mediShow .mediContainer header .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .container .mediShow .mediContainer header .brand .logo {
  width: 5em;
  height: 5em;
  background: url("../image/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section .container .mediShow .mediContainer header .brand h1 {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  font-family: var(--fontfamily1);
  font-weight: bolder;
}

section .container .mediShow .mediContainer header .right a button {
  background: var(--color);
  padding: 15px;
  border: 0;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  font-family: var(--fontfamily2);
  font-size: 15px;
}

section .container .mediShow .mediContainer .listItem {
  padding-top: 15%;
}

section .container .mediShow .mediContainer .listItem #item {
  font-size: 40px;
  margin-top: 50px;
  margin-left: 20px;
  color: white;
}

section .container .mediShow .mediContainer .listItem .line {
  width: 4em;
  height: 2px;
  background: white;
  margin-top: 10px;
  position: absolute;
}

section .container .mediShow .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .container .mediShow .showcase #showcaseImg {
  width: 100%;
  height: 30vw;
}

section .container .mediShow .showcase .summer {
  background-image: url("../image/image2.png"), -webkit-gradient(linear, left top, left bottom, from(#838285), to(#838285));
  background-image: url("../image/image2.png"), linear-gradient(#838285, #838285);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 15%;
  font-family: var(--fontfamily2);
  font-size: 20px;
}

section .container .mediShow .showcase .winter {
  background-image: url("../image/image1.png"), -webkit-gradient(linear, left top, left bottom, from(#838285), to(#838285));
  background-image: url("../image/image1.png"), linear-gradient(#838285, #838285);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 15%;
  font-family: var(--fontfamily2);
  font-size: 20px;
}

section .container .storyContainer {
  margin-top: 3em;
  padding: 2em;
}

section .container .storyContainer .container .storyText h1 {
  font-size: 40px;
}

section .container .storyContainer .container .storyText p {
  margin-top: 50px;
  font-family: var(--fontfamily2);
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 500;
  color: rgba(109, 108, 108, 0.774);
}

section .container .storyContainer .container .ourStory {
  margin-top: 4em;
}

section .container .storyContainer .container .ourStory .contentOne {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

section .container .storyContainer .container .ourStory .contentOne .contentImg {
  width: 100%;
  height: 50vw;
  background: url("../image/image3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section .container .storyContainer .container .ourStory .contentOne .contentText {
  margin-left: 20px;
  margin-top: 3em;
}

section .container .storyContainer .container .ourStory .contentOne .contentText h1 {
  font-size: 30px;
}

section .container .storyContainer .container .ourStory .contentOne .contentText p {
  margin-top: 50px;
  font-family: var(--fontfamily2);
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: rgba(109, 108, 108, 0.774);
}

section .container .storyContainer .container .ourStory .contentTwo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-top: 30px;
}

section .container .storyContainer .container .ourStory .contentTwo .contentImg {
  width: 100%;
  height: 50vw;
  background: url("../image/image4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section .container .storyContainer .container .ourStory .contentTwo .contentText {
  margin-right: 20px;
  margin-top: 3em;
}

section .container .storyContainer .container .ourStory .contentTwo .contentText h1 {
  font-size: 30px;
}

section .container .storyContainer .container .ourStory .contentTwo .contentText p {
  margin-top: 50px;
  font-family: var(--fontfamily2);
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: rgba(109, 108, 108, 0.774);
}
/*# sourceMappingURL=style.css.map */